<div class="panel panel-default page-heading">
<h3 class="header-text">Resources</h3>
</div>
<div class="container">
<hr>
<h2>Offical Angular Documentation</h2>
<h4><a href="https://angular.io/docs/ts/latest/">Angular</a></h4>
<h3>Specific Topics</h3>
<h4><a href="https://angular.io/docs/ts/latest/guide/lifecycle-hooks.html#!#docheck">Lifecycle Hooks</a></h4>
<hr>

<h2>Official Angularfire Documentation</h2>
<h4><a href="https://angularfire2.com/api/">Angularfire</a></h4>
<hr>

<h2>Official Firebase Documentation</h2>
<h4><a href="https://firebase.google.com/docs/">Firebase</a></h4>
<h3>Specific Topics</h3>
<h4><a href="https://firebase.google.com/docs/auth/">Authentication</a></h4>
<h4><a href="https://webcake.co/using-firebase-3-in-angular-2-and-ionic-2/">Using Firbase with Angular2 and Ionic</a></h4>
<hr>

<h2>Helpful Angular Links</h2>
<h4><a href="http://stackoverflow.com/questions/30623825/how-to-use-jquery-with-angular2">Adding J-Query to Angular</a></h4>
<h4><a href="http://www.jqwidgets.com/angular/">Angular UI Widgets</a></h4>
<h4><a href="#"></a></h4>
<hr>

<h2>Tutorials</h2>
<h4><a href="https://scotch.io/tutorials/angular-2-http-requests-with-observables">HTTP Requests with Observables</a></h4>
<h4><a href="https://medium.freecodecamp.com/angular-2-authentication-made-easy-with-firebase-246c282d9ef8#.tpm5vx48r">Angular Authentication with Firebase</a></h4>
<h4><a href="https://scotch.io/tutorials/how-to-deal-with-different-form-controls-in-angular-2">Form Controls</a></h4>
<h4><a href="https://progblog.io/Angular-2-Firebase-Tutorial-Part-1-Create-a-Firebase-3-CRUD-app-with-Angular-CLI/">Chat App with Firebase</a></h4>
<hr>

<h2>Open Issues and Discussions</h2>
<h4><a href="http://stackoverflow.com/questions/40263091/angular-2-angularfire-2-authentication-state">Angularfire2 Authentication State</a></h4>
</div>
