<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Angular 2</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="about">glossary</a></li>
      <li *ngIf="!(auth | async)"><a (click)="login()" style="cursor: pointer;">Sign In With Google</a></li>
      <li *ngIf="auth | async"><a (click)="logout()" style="cursor: pointer;">Sign Out</a></li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
