/* You can add global styles to this file, and also import other style files */
body {
  background-color: black;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 2px;
}

.navbar, .navbar-default{
  background-color: black;
  border: none;
}

.navbar-brand {
  font-size: 2em;
  margin-top: 10px;
  color: teal;
  font-family: 'Roboto Condensed', sans-serif;
}

.navbar a {
  color: teal;
  margin-right: 10px;
  font-family: 'Roboto Condensed', sans-serif;
}
