/* You can add global styles to this file, and also import other style files */
$teal : #04D6BA;
$yellow : #FFCF33;
$red : #FF6E8D;
$grey : #BFBFBF;

h1 {
  color: #04D6BA;
}

h2 {
  color: $yellow;
}

h3 {
  color: $red;
}

h4 {
  color: $grey;
}
